[submodule "handrb_ui"]
	path = handrb_ui
	url = https://github.com/wangneng666/handrb_ui.git
[submodule "pick_place_bridge"]
	path = pick_place_bridge
	url = https://github.com/StoneRobot/pick_place_bridge.git
[submodule "reception_robot"]
	path = reception_robot
	url = https://github.com/StoneRobot/reception_robot.git
[submodule "openni2_tracker"]
	path = openni2_tracker
	url = https://github.com/tjh-flash/openni2_tracker.git
[submodule "hsr_impedance"]
	path = hsr_impedance
	url = https://github.com/wangneng666/hsr_impedance.git
[submodule "daq_ros_driver"]
	path = daq_ros_driver
	url = https://github.com/wangneng666/daq_ros_driver.git
[submodule "hsr_robot_voice"]
	path = hsr_robot_voice
	url = https://github.com/tjh-flash/hsr_robot_voice.git
[submodule "add_obstacles"]
	path = add_obstacles
	url = https://github.com/StoneRobot/add_obstacles
