[submodule "hsr_handrobot"]
	path = hsr_handrobot
	url = https://github.com/wangneng666/hsr_handrobot.git
[submodule "hs_handRobot_visionDetect"]
	path = hs_handRobot_visionDetect
	url = https://github.com/tjh-flash/hs_handRobot_visionDetect.git
[submodule "pick_place_bridge"]
	path = pick_place_bridge
	url = https://github.com/StoneRobot/pick_place_bridge.git
[submodule "reception_robot"]
	path = reception_robot
	url = https://github.com/StoneRobot/reception_robot.git
